[submodule "deps/CppSQLite"]
	path = deps/CppSQLite
	url = https://github.com/neosmart/CppSQLite.git
[submodule "deps/optional"]
	path = deps/optional
	url = https://github.com/akrzemi1/Optional.git
[submodule "deps/djinni"]
	path = deps/djinni
	url = https://github.com/dropbox/djinni.git
[submodule "deps/json11"]
	path = deps/json11
	url = https://github.com/libmx3/json11.git
